# PostgreSQL
postgres/pgdata/
postgres/pglogs/
postgres/backups/
postgres/wal/

# ClickHouse
clickhouse/clickhouse_data/
clickhouse/clickhouse_logs/
clickhouse/clickhouse_arch/

# Superset
supersetdb_data/
superset_home/

# Airflow
airflow/logs/
airflow/postgres/

# LocalStack
.localstack_data/
.localstack/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/

# pytest
.pytest_cache/
tests/.pytest_cache/
tests/htmlcov/
tests/.coverage
.coverage
.coverage.*
htmlcov/
*.cover

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
*.tmp
*.log

# Docker volumes
*.volume

.env
.env.local
.env.*.local
*.secret
*.key

# except
!postgres/postgres_arch/
!clickhouse/clickhouse_arch/
!postgres/*.png
!postgres/*.md

# initialize scripts
!clickhouse/clickhouse-init/

# conf
!postgres/config/

# front-end
front-end/node_modules/
front-end/package-lock.json

# assembly
front-end/dist/

# vite
front-end/.vite/

# cache + logs
front-end/.eslintcache
front-end/tsconfig.tsbuildinfo

# IDE
front-end/.vscode/
front-end/.idea/

# OS files
front-end/.DS_Store
front-end/Thumbs.db
